[submodule "cache_sim"]
	path = cache_sim
	url = https://github.com/fuvty/cache_sim
[submodule "cacti"]
	path = cacti
	url = https://github.com/HewlettPackard/cacti.git
[submodule "ramulator"]
	path = ramulator
	url = https://github.com/CMU-SAFARI/ramulator.git
